body{
    margin: 0;
    padding: 0;
    background: #ff7e5f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.button{
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 15rem;
    margin-bottom: 10rem;
    color: #fff;
    background-image:url(./cat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px ;
    box-shadow:
    11.9px 11.9px 2.2px rgba(0, 0, 0, 0.03),
    22.2px 22.2px 5.3px rgba(0, 0, 0, 0.048),
    31.2px 31.2px 10px rgba(0, 0, 0, 0.06),
    40px 40px 17.9px rgba(0, 0, 0, 0.066),
    52.8px 52.8px 33.4px rgba(0, 0, 0, 0.07),
    100px 100px 80px rgba(0, 0, 0, 0.07)
  ;
}

input{
    padding: 1rem 4rem;
    margin: 1rem 5rem;
    border-radius: 1px;
    border: none;

}
button{
    padding: 1rem 2rem;
    color: #000;
    border: ipx solid gray;
    border-radius: 25px;margin-left: 10rem;
}
button:hover{
    color: white;
    background-color: black;
}