nav{
    background-color: black;
    color: white;
    padding: 20px;

    
}
li{
    background-color: black;
    color:white;
    padding-left:40px ;
    
}
h1, li, ul{
display: inline;
}
ul{
    margin-left: 70%;
    
}
h1{
    padding-left: 40px;
}