h1{
    background-color: purple;
    display: inline;
}
h4{
    background-color: blue;
display: block;
}
p{
    background-color: pink;
 display: inline-block;
 width: 100px;
}
.one{
    background-color: black;
    height: 100px;
    width: 100px;
    display: inline-block;
    
}
.two{
    background-color: red;
    height: 100px;
    width: 100px;
    display: inline-block;
}
h1{
    background-color: yellow; !important
}
p{
    background-color: red;!important
}
h3{
    background-color: black;
    color: white;
    display: inline;
    padding: 10px;
    margin-right: ;
}
li{
    background-color: black;
    color: white;
    display: inline;
    padding: 10px;
    margin-left: 10px;
}
