.catimg1{
    height: 20rem;
    width: 30rem;
    margin: 5rem;
    
}
.myimg1{
    height: 20rem;
    width: 30rem;
    margin: 5rem;
   
}

.catimg3{
    height: 20rem;
    width: 30rem;
    margin: 5rem;
}
.catimg4{
    height: 20rem;
    width: 30rem;
    margin: 5rem; 
}
.catimg5{
    height: 20rem;
    width: 30rem;
    margin: 5rem;
}

.catimg6{
    height: 20rem;
    width: 30rem;
    margin: 5rem;

}