*{
    margin: 0;
    padding: 0;
}


nav{
    background-color: black;
    color: white;
    padding: 20px;

}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    padding-left: 40px;
    color: gray;
}
li:hover{
color: white;
cursor: pointer;
}
h1{
    padding-left: 10px;
}
input{
    width: 60%;
    padding: 15px;
}
.searchbar{
    text-align: center;
    padding: 50px;
}