*{
    margin: 0;
    padding: 0;
}


nav{
    background-color: black;
    color: white;
    padding: 20px;

}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    padding-left: 40px;
    color: gray;
}
li:hover{
color: white;
cursor: pointer;
}
h1{
    padding-left: 10px;
}
input{
    width: 60%;
    padding: 15px;
}
.searchbar{
    text-align: center;
    padding: 50px;
}
.box1{
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 190px;
  
}
.box2{
    display: inline-block;
    width: 190px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}
.box3{
    display: inline-block;
    width: 190px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}
.products{
    padding-left: 50px;
    text-align: center;

    
}
.box1:hover,.box2:hover,.box3:hover{
    background-color: black;
    color: white;
}
.about{
    text-align: center;
    padding: 25px;
   margin-top: 20px;
}
.contact{
    /* display: block; */
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 15px;
    
}
